<!DOCTYPE html>
<html lang="en" class="auto-height">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_styling.css') }}">
    <script src="{{ url_for('static', filename='javascript/input_validation2.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
</head>

<body>
    <div class="container top-padding">

        <div class="progress-bar">
            <div class="progress p8"></div>
        </div>

        <div class="header-emoji">
            <h1 style="text-align: center;">What's your diet type?</h1>
        </div>

        <div class="input-container">
            <form id="prototypeQuestionnaire" method="post" class="checkbox-list">

                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput1" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput1" class="checkboxLabel">
                        <div class="emoji">
                            🥗
                        </div>
                        <span>Balanced Diet</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput2" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput2" class="checkboxLabel">
                        <div class="emoji">
                            🍗
                        </div>
                        <span>High Protein</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput3" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput3" class="checkboxLabel">
                        <div class="emoji">
                            🥩
                        </div>
                        <span>Low Carb</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput4" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput4" class="checkboxLabel">
                        <div class="emoji">
                            🥕
                        </div>
                        <span>Vegetarian</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput5" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput5" class="checkboxLabel">
                        <div class="emoji">
                            🌿
                        </div>
                        <span>Vegan</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" id="checkboxInput6" name="radioAnswer" class="checkbox">
                    <label for="checkboxInput6" class="checkboxLabel">
                        <div class="emoji">
                            🥑
                        </div>
                        <span>Keto</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </label>
                </div>

            </form>
        </div>


        <div class="sticky-button-container">
            <button id="next" type="submit" form="prototypeQuestionnaire" class="button primary-button"
                disabled>Continue</button>
        </div>


    </div>
</body>

</html>