<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_styling.css') }}">
    <script src="{{ url_for('static', filename='javascript/input_validation2.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
</head>

<body>
    <div class="container top-padding">

        <div class="progress-bar">
            <div class="progress p4"></div>
        </div>

        <div class="header-emoji">
            <h1>What's your current weight?</h1>
        </div>

        <form id="prototype_questions" method="post" class="number-form middle-form">
            <input type="number" id="numberInput" name="numberInput" />
            <label for="numberInput">kg</label>
        </form>

        <div class="button-container">
            <button id="next" type="submit" form="prototype_questions" class="button primary-button"
                disabled>Continue</button>
        </div>


    </div>
</body>

</html>