<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styling.css') }}">
</head>

<body>
    <div class="container top-padding">
        <div class="header-emoji">
            <p class="emoji">🤗</p>
            <div class="header">

                <h1>Thank You for Your Participation!</h1>
                <p>We sincerely appreciate you taking the time to complete this survey.</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <div class="icon-container">
                    <i class="fa-solid fa-building-columns"></i>
                </div>
                <div class="text-container">
                    <h2>Researcher & Study Information</h2>
                    <p class="card-text">This study is part of academic research conducted at Hochschule für Wirtschaft
                        und Recht Berlin.
                        <br><b>Study Title: </b>Deceptive by Design: Assessing the Impact of UX
                        Dark Patterns on Engagement and User Trust in
                        Digital Products
                        <br><b>Researcher: </b>Firas Najar
                        <br><b>Contact: </b>s_najar20@stud.hwr-berlin.de
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon-container">
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="text-container">
                    <h2>Understanding Dark Patterns</h2>
                    <p class="card-text">The purpose of this study was to examine how users interact with different
                        interface elements and how subtle manipulation techniques —often referred to as dark
                        patterns—can
                        influence decision-making. <br>By participating, you have helped us gain deeper insights into
                        how these techniques impact user experience, engagement, and trust.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon-container">
                    <i class="fa-solid fa-forward"></i>
                </div>
                <div class="text-container">
                    <h2>Next Steps</h2>
                    <p class="card-text">Your responses will now be analyzed as part of the research process. If you
                        have any questions about the study or would like to learn more about the outcomes, feel free to
                        reach out. We appreciate your participation and contribution to this research.
                    </p>
                </div>
            </div>
        </div>


    </div>
</body>

</html>