<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/input_validation.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
</head>

<body>
    <div class="container">
        <div class="progress-bar">
            <div class="progress q1"></div>
        </div>

        <h1>What is your name?</h1>

        <form id="questionnaire" method="post" class="input-container">
            <input type="text" id="nameInput" name="name" class="text-box" placeholder="Type your name here..."
                required>
            <p id="errorMessage" class="input-error-message"></p>
        </form>

        <div class="button-container">
            <button id="back" class="button secondary-button" type="button" onclick="goBack()">Back</button>
            <button id="next" type="submit" form="questionnaire" class="button primary-button" disabled>Next</button>
        </div>

    </div>
</body>

</html>