<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styling.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header-emoji">
            <p class="emoji">👋</p>
            <div class="header">

                <h1>Welcome!</h1>
                <p>Thank you for taking the time to participate in this study. Your input is valuable and will help
                    us
                    better
                    understand how users interact with digital products.</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <div class="icon-container">
                    <i class="fa-solid fa-bullseye"></i>
                </div>
                <div class="text-container">
                    <h2>Purpose of the study</h2>
                    <p class="card-text">This survey aims to evaluate user experiences with a fictional app. During
                        the
                        survey, you'll be asked to explore a short simulation and provide feedback based on your
                        experience.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon-container">
                    <i class="fa-solid fa-shield-heart"></i>
                </div>
                <div class="text-container">
                    <h2>Confidentiality</h2>
                    <p class="card-text">All responses will remain
                        confidential. The data collected will be used for academic purposes only.
                    </p>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="{{ url_for('question01') }}">
                <button class="button primary-button">Start Survey!</button>
            </a>

        </div>

    </div>
</body>

</html>