<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Deceptive by Design</title>
    <script src="https://kit.fontawesome.com/c02dd0c634.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script src="{{ url_for('static', filename='javascript/input_validation.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_styling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress_bar.css') }}">
</head>

<body>
    <div class="container">
        <div class="progress-bar">
            <div class="progress q3"></div>
        </div>

        <h1>What is your gender?</h1>

        <div class="input-container">
            <form id="questionnaire" method="post" class="radio-list">
                <div class="radio-button">
                    <input type="radio" id="radioInput1" name="gender" value="Male" required>
                    <label for="radioInput1">Male</label>
                </div>
                <div class="radio-button">
                    <input type="radio" id="radioInput2" name="gender" value="Female" required>
                    <label for="radioInput2">Female</label>
                </div>
                <div class="radio-button">
                    <input type="radio" id="radioInput3" name="gender" value="Non-binary/Third gender" required>
                    <label for="radioInput3">Non-binary/Third gender</label>
                </div>
                <div class="radio-button">
                    <input type="radio" id="radioInput4" name="gender" value="Prefer not to say" required>
                    <label for="radioInput4">Prefer not to say</label>
                </div>
            </form>
            <p id="errorMessage" class="input-error-message"></p>
        </div>



        <div class="button-container">
            <button id="back" class="button secondary-button" type="button" onclick="goBack()">Back</button>
            <button id="next" type="submit" form="questionnaire" class="button primary-button" disabled>Next</button>
        </div>

    </div>
</body>

</html>